<h3>{{video}}</h3>
<a href="/viedeos/{{video.id}}/edit">edit post</a>
<p>{{video.title}}</p>
<a href="/viedeos/{{video.id}}/delete">delete post</a>
<hr>
<img style="width: 90px;" src="{{video.image.url}}"  alt="">
<p>{{video.author }}</p>
<hr>

<video width=""height=""controls> 
    <source src="{{ url_video}}" type="video/mp4"> 
</video>
<iframe width="560" height="315" src="https://www.youtube.com/embed/rdIQ-sj26xE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
